In [1]:
import pandas as pd

In [2]:
xls_maestra_copec = pd.ExcelFile('Repositorio OFICIAL EDS NNC (1).xlsx')
xls_nico = pd.ExcelFile('direcciones_eds.xlsx')

df1 = pd.read_excel(xls_maestra_copec, 'TIENDAS')
df2 = pd.read_excel(xls_nico, 'Sheet1')

In [3]:
df1.dtypes

ID                                          object
EDS                                        float64
Zona                                        object
Razón Social                                object
Mail                                        object
RUT                                         object
Contacto Franquiciado (teléfono)            object
Dirección                                   object
Región                                     float64
Provincia                                   object
Comuna                                      object
Jefe de Zona                                object
Jefe Comercial                              object
Fecha Apertura                      datetime64[ns]
Última Fecha Remodelación           datetime64[ns]
Último cambio de concesionario      datetime64[ns]
Sector cajero segregado                    float64
Cigarros                                   float64
Baño (sí=1/no=0)                           float64
Cantidad de Baños                          float64
ATM                                        float64
Número ATM                                  object
Fecha implementación MRC                    object
Vitrina Bollería Reinax                    float64
Pantallas                                  float64
Cooler Comida Vertical VV10                float64
Accesibilidad Universal                    float64
Patente Alcohol                            float64
Delivery                                   float64
Tienda Clásica                             float64
Tienda Retrofit                            float64
Tienda Icónica                             float64
Tienda XL                                  float64
Tienda Punto Xpress                        float64
Tienda Kiosko                              float64
Tienda Punto XS                            float64
Stand Alone                                float64
P100                                       float64
Ingeniero en Mantenimiento                  object
Latitud                                    float64
Longitud                                   float64
Consultor                                   object
RUT EDS                                     object
Pronto Franquicia                          float64
Fecha Cambio a Pronto               datetime64[ns]
TIPO UBICACIÓN                              object
dtype: object

In [4]:
df2.dtypes

codigo_sap     int64
codigo_eds     int64
tienda        object
marca         object
formato       object
mercado       object
region        object
comuna        object
direccion     object
dtype: object

In [5]:
# Seleccionar columnas relevantes

relevant_columns_maestra = ['EDS', 'Zona', 'Dirección', 'Región', 'Provincia', 'Comuna', 'Fecha Apertura', 'Latitud', 'Longitud']
relevant_columns_nico = ['codigo_sap', 'codigo_eds', 'tienda', 'marca', 'formato', 'mercado', 'direccion', 'comuna', 'region']

geo_eds_maestra_df = df1[relevant_columns_maestra].copy()
geo_eds_nico_df = df2[relevant_columns_nico].copy()

In [6]:
geo_eds_maestra_df.dropna(axis=0, subset=['EDS'], inplace=True)
geo_eds_maestra_df.reset_index(drop=True, inplace=True)
geo_eds_maestra_df['EDS'] = geo_eds_maestra_df['EDS'].astype('int')
geo_eds_maestra_df

,EDS,Zona,Dirección,Región,Provincia,Comuna,Fecha Apertura,Latitud,Longitud
0,60108,OS,LOTA N° 2864,13.0,SANTIAGO,PROVIDENCIA,2000-01-01,-3.342149e+14,-7.059745e+14
1,60701,OS,APOQUINDO N° 7520,13.0,SANTIAGO,LAS CONDES,2000-01-01,-3.340808e+14,-7.055125e+14
2,60968,OS,SANTA ROSA N° 9468,13.0,SANTIAGO,LA GRANJA,2000-01-01,-3.354728e+14,-7.063297e+14
3,10104,OZN,PANAMERICANA SUR N° 2824,15.0,ARICA,ARICA,2001-01-01,-1.849355e+14,-7.028921e+14
4,10282,OZN,"ABAROA, ESQ. LATORRE S/N",2.0,EL LOA,CALAMA,2001-01-01,-2.246759e+14,-6.892565e+14
...,...,...,...,...,...,...,...,...,...
338,60283,OS,"Av. 5 de Abril 1310, Maipú",13.0,SANTIAGO,MAIPÚ,2022-07-04,NaN,NaN
339,20840,OZS,"Av. Latorre 750, Tome, bío bío",8.0,CONCEPCIÓN,TOMÉ,2022-07-05,NaN,NaN
340,27590,OS,NaN,13.0,SANTIAGO,PUENTE ALTO,2022-07-25,NaN,NaN
341,60109,OS,AV. ANDRES BELLO N° 2722,13.0,SANTIAGO,LAS CONDES,2004-01-01,-3.341380e+14,-7.060449e+14
342,20475,OZS,CAMINO CHILLÁN A PINTO KM 24,7.0,CHILLÁN,PINTO,2022-01-11,NaN,NaN

In [7]:
geo_eds_df = geo_eds_nico_df.merge(geo_eds_maestra_df, how='left', left_on='codigo_eds', right_on='EDS').drop_duplicates()
geo_eds_df

,codigo_sap,codigo_eds,tienda,marca,formato,mercado,direccion,comuna,region,EDS,Zona,Dirección,Región,Provincia,Comuna,Fecha Apertura,Latitud,Longitud
0,2009,10096,Pozo Almonte,Pronto,Barra,Carretera,Panamericana norte km 1810,Pozo Almonte,Tarapacá,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,2013,20012,San Rafael Oriente,Pronto,Barra,Carretera,RUTA 5 SUR KM 237,San Rafael,Maule,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2,2012,20017,San Carlos Oriente,Pronto,Barra,Carretera,"RUTA 5 SUR KM 383,3",San Carlos,Ñuble,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3,2056,20089,Puerto Varas,Pronto,Barra,Carretera,"RUTA 5 SUR KM 1009,4.",Puerto Varas,Los Lagos,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
4,2055,20091,Trafún Poniente,Pronto,Barra,Carretera,"RUTA 5 SUR KM. 904,3 TRAFUN.",San Pablo,Los Lagos,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,-1,60758,-,EDS Sin Tienda,-,-,CARDENAL CARO S/N ESQ. OBISPO LARRAÍN N° 792,LITUECHE,O HIGGINS,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
676,-1,60824,-,EDS Sin Tienda,-,-,AV. LA FLORIDA N° 7165,LA FLORIDA,METROPOLITANA,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
677,-1,60838,-,EDS Sin Tienda,-,-,CAMINO A PICHILEMU KM 65,PERALILLO,O HIGGINS,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
678,-1,60999,-,EDS Sin Tienda,-,-,AV. INDEPENDENCIA N° 1517,INDEPENDENCIA,METROPOLITANA,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
679,-1,60999,-,EDS Sin Tienda,-,-,AV. INDEPENDENCIA Nº1517,INDEPENDENCIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [8]:
eds_sin_tienda_df = geo_eds_df.loc[geo_eds_df['marca'] == 'EDS Sin Tienda', :].copy()
eds_con_tienda_df = geo_eds_df.loc[geo_eds_df['marca'] != 'EDS Sin Tienda', :].copy()

In [9]:
# Completar con 0 las latitudes y longitudes nulas
eds_sin_tienda_df['Latitud'] = eds_sin_tienda_df['Latitud'].fillna(0.0).astype('float')
eds_sin_tienda_df['Longitud'] = eds_sin_tienda_df['Longitud'].fillna(0.0).astype('float')

# Eliminar los registros sin dirección
eds_sin_tienda_df.dropna(axis=0, inplace=True, subset=['Dirección', 'direccion'], how='all')

# Eliminar registros duplicados
eds_sin_tienda_df.drop_duplicates(subset=['codigo_eds'], inplace=True)

eds_sin_tienda_df

,codigo_sap,codigo_eds,tienda,marca,formato,mercado,direccion,comuna,region,EDS,Zona,Dirección,Región,Provincia,Comuna,Fecha Apertura,Latitud,Longitud
414,-1,10005,-,EDS Sin Tienda,-,-,AV. EL TOFO N° 043,DIEGO DE ALMAGRO,ATACAMA,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
415,-1,10009,-,EDS Sin Tienda,-,-,"AV. MEJILLONES 4950, ESQ. ILLAPEL",ANTOFAGASTA,ANTOFAGASTA,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
416,-1,10025,-,EDS Sin Tienda,-,-,RUTA 5 NORTE KM 1398,ANTOFAGASTA,ANTOFAGASTA,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
417,-1,10040,-,EDS Sin Tienda,-,-,SAN MARTIN N° 699,ARICA,ARICA Y PARINACOTA,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
418,-1,10194,-,EDS Sin Tienda,-,-,PANAMERICANA NORTE S/N,SIERRA GORDA,ANTOFAGASTA,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,-1,60561,-,EDS Sin Tienda,-,-,30 KM AL NORESTE DE RANCAGUA,MACHALÍ,O HIGGINS,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
675,-1,60758,-,EDS Sin Tienda,-,-,CARDENAL CARO S/N ESQ. OBISPO LARRAÍN N° 792,LITUECHE,O HIGGINS,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
676,-1,60824,-,EDS Sin Tienda,-,-,AV. LA FLORIDA N° 7165,LA FLORIDA,METROPOLITANA,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
677,-1,60838,-,EDS Sin Tienda,-,-,CAMINO A PICHILEMU KM 65,PERALILLO,O HIGGINS,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
678,-1,60999,-,EDS Sin Tienda,-,-,AV. INDEPENDENCIA N° 1517,INDEPENDENCIA,METROPOLITANA,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0

In [10]:
# Completar con 0 las latitudes y longitudes nulas
eds_con_tienda_df['Latitud'] = eds_con_tienda_df['Latitud'].fillna(0.0).astype('float')
eds_con_tienda_df['Longitud'] = eds_con_tienda_df['Longitud'].fillna(0.0).astype('float')

# Eliminar los registros sin dirección
eds_con_tienda_df.dropna(axis=0, inplace=True, subset=['Dirección', 'direccion'], how='all')

# Eliminar registros duplicados
eds_con_tienda_df.drop_duplicates(subset=['codigo_eds'], inplace=True)

eds_con_tienda_df

,codigo_sap,codigo_eds,tienda,marca,formato,mercado,direccion,comuna,region,EDS,Zona,Dirección,Región,Provincia,Comuna,Fecha Apertura,Latitud,Longitud
0,2009,10096,Pozo Almonte,Pronto,Barra,Carretera,Panamericana norte km 1810,Pozo Almonte,Tarapacá,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
1,2013,20012,San Rafael Oriente,Pronto,Barra,Carretera,RUTA 5 SUR KM 237,San Rafael,Maule,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
2,2012,20017,San Carlos Oriente,Pronto,Barra,Carretera,"RUTA 5 SUR KM 383,3",San Carlos,Ñuble,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
3,2056,20089,Puerto Varas,Pronto,Barra,Carretera,"RUTA 5 SUR KM 1009,4.",Puerto Varas,Los Lagos,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
4,2055,20091,Trafún Poniente,Pronto,Barra,Carretera,"RUTA 5 SUR KM. 904,3 TRAFUN.",San Pablo,Los Lagos,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,-1,10436,AVDA. 27 DE ABRIL S/N,PUNTO,Foodtruck,Urbana,AV. 27 DE ABRIL S/N,PICA,TARAPACA,10436.0,OZN,AV. 27 DE ABRIL S/N,1.0,TARAPACÁ,PICA,2021-06-10,0.0,0.0
410,-1,40183,La Serena Ruta 41,PUNTO,Punto Copec,Urbana,COLO COLO N°5300,LA SERENA,COQUIMBO,40183.0,OZC,COLO COLO N°5300,4.0,LA SERENA,LA SERENA,2021-07-01,0.0,0.0
411,-1,40188,Olmué,PUNTO,Punto Copec,Urbana,AV ADOLFO EASTMAN 2603,OLMUÉ,VALPARAISO,40188.0,OZC,AV. ADOLFO EASTMAN 2603,5.0,VALPARAÍSO,OLMUE,2021-07-08,0.0,0.0
412,-1,10617,ANIBAL PINTO 400,PUNTO,Punto AP,Urbana,Punto Iquique,DIEGO DE ALMAGRO,ATACAMA,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0.0,0.0
413,-1,20011,Coronel,PUNTO,Punto Copec,Urbana,SOTOMAYOR 1300,CORONEL,BIOBIO,20011.0,OZS,AV. SOTOMAYOR 1300,8.0,CONCEPCIÓN,CORONEL,2021-08-18,0.0,0.0

In [11]:
eds_con_tienda_df.to_csv('eds_con_tienda.csv', sep=';', index=False)
eds_sin_tienda_df.to_csv('eds_sin_tienda.csv', sep=';', index=False)